<a href="https://colab.research.google.com/github/Saimani5454/shiddarth_associative_assignment/blob/main/siddarth_associative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import re

file_path = "/content/Siddharth_Associates_sample data 2.xlsx - Sheet1.csv"
df = pd.read_csv(file_path)

print("Data Loaded Successfully. Rows:", len(df))

unit_map = {
    "nos": "PCS", "no": "PCS", "pcs": "PCS", "piece": "PCS", "pieces": "PCS",
    "kg": "KG", "kgs": "KG", "kilogram": "KG",
    "mt": "MT", "meter": "M", "meters": "M"
}

df['Standardized Unit'] = df['UNIT'].str.lower().map(unit_map).fillna(df['UNIT'])

pattern_model = r"(model\s*[a-zA-Z0-9\-/]+|[A-Z]{2,}\d{2,}|\b[A-Za-z]{2,}\d+\b)"
pattern_capacity = r"(\b\d+(\.\d+)?\s*(ml|ltr|liter|cm|mm|inch|in|kw|kg|g)\b)"
pattern_material = r"(steel|plastic|glass|wood|aluminium|metal|borosilicate|opalware)"
pattern_embedded_qty = r"(\bpack of\s*\d+|\b\d+\s*pcs|\b\d+\s*pieces)"
pattern_price_usd = r"(\$?\s?\d+(\.\d+)?\s*usd|\b\d+(\.\d+)?\s*usd\b)"

def extract_text(pattern, text):
    match = re.search(pattern, str(text), re.IGNORECASE)
    return match.group(0) if match else None

df['Model'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_model, x))
df['Capacity/Spec'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_capacity, x))
df['Material Type'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_material, x))
df['Embedded Quantity'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_embedded_qty, x))
df['Unit Price (USD) Extracted'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_price_usd, x))

df['Unit Price (USD) Extracted'] = df['Unit Price (USD) Extracted'].str.replace("USD", "", case=False).str.replace("$", "").str.strip()
df['Embedded Quantity'] = df['Embedded Quantity'].str.extract(r"(\d+)")

output_path = "/content/processed_trade_data.csv"
df.to_csv(output_path, index=False)

print("Processing Completed!")
print("Cleaned file saved at:", output_path)

df.head()

Data Loaded Successfully. Rows: 2079
Processing Completed!
Cleaned file saved at: /content/processed_trade_data.csv

,PORT CODE,DATE,IEC,HS CODE,GOODS DESCRIPTION,Master category,Model Name,Model Number,Capacity,Qty,...,TOTAL VALUE_INR,UNIT PRICE_USD,TOTAL VALUE_USD,DUTY PAID_INR,Standardized Unit,Model,Capacity/Spec,Material Type,Embedded Quantity,Unit Price (USD) Extracted
0,INNSA1,2025-10-28,301049751,73239990,TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...,NaN,NaN,NaN,NaN,NaN,...,116500.34,4.529034,1313.419842,32736.6,KG,TH5170,None,STEEL,600,None
1,INNSA1,2025-10-28,301049751,73231000,8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...,NaN,NaN,NaN,NaN,NaN,...,4317901.74,4.967331,48679.839230,1898149.5,KG,None,None,STEEL,2,None
2,INNSA1,2025-10-23,301049751,73239990,MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...,NaN,NaN,NaN,NaN,NaN,...,1637210.23,4.609850,18457.837990,460056.0,KG,None,None,STEEL,232,None
3,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...,NaN,NaN,NaN,NaN,NaN,...,586155.51,4.219151,6534.621070,164709.7,KG,None,None,STEEL,6336,None
4,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...,NaN,NaN,NaN,NaN,NaN,...,4014265.76,4.456407,44752.126640,1128008.7,KG,None,None,STEEL,43038,None

In [11]:
# ---------------------------------------------
# ðŸ“Œ STEP 1: Import Required Libraries
# ---------------------------------------------

import pandas as pd
import re

# ---------------------------------------------
# ðŸ“Œ STEP 2: Load the Dataset
# (Replace with your uploaded file path if needed)
# ---------------------------------------------

file_path = "/content/Siddharth_Associates_sample data 2.xlsx - Sheet1.csv"
df = pd.read_csv(file_path)

print("Data Loaded Successfully. Rows:", len(df))

# Debugging: Print columns to identify the correct unit column
print("DataFrame Columns:", df.columns.tolist())

# ---------------------------------------------
# ðŸ“Œ STEP 3: Unit Standardization Mapping
# ---------------------------------------------

unit_map = {
    "nos": "PCS", "no": "PCS", "pcs": "PCS", "piece": "PCS", "pieces": "PCS",
    "kg": "KG", "kgs": "KG", "kilogram": "KG",
    "mt": "MT", "meter": "M", "meters": "M"
}

df['Standardized Unit'] = df['UNIT'].str.lower().map(unit_map).fillna(df['UNIT'])

# ---------------------------------------------
# ðŸ“Œ STEP 4: Define Regex Patterns for Extraction
# ---------------------------------------------

pattern_model = r"(model\s*[a-zA-Z0-9\-/]+|[A-Z]{2,}\d{2,}|\b[A-Za-z]{2,}\d+\b)"
pattern_capacity = r"(\b\d+(\.\d+)?\s*(ml|ltr|liter|cm|mm|inch|in|kw|kg|g)\b)"
pattern_material = r"(steel|plastic|glass|wood|aluminium|metal|borosilicate|opalware)"
pattern_embedded_qty = r"(\bpack of\s*\d+|\b\d+\s*pcs|\b\d+\s*pieces)"
pattern_price_usd = r"(\$?\s?\d+(\.\d+)?\s*usd|\b\d+(\.\d+)?\s*usd\b)"

# ---------------------------------------------
# ðŸ“Œ STEP 5: Extraction Function
# ---------------------------------------------

def extract_text(pattern, text):
    match = re.search(pattern, str(text), re.IGNORECASE)
    return match.group(0) if match else None

df['Model'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_model, x))
df['Capacity/Spec'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_capacity, x))
df['Material Type'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_material, x))
df['Embedded Quantity'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_embedded_qty, x))
df['Unit Price (USD) Extracted'] = df['GOODS DESCRIPTION'].apply(lambda x: extract_text(pattern_price_usd, x))

# ---------------------------------------------
# ðŸ“Œ STEP 6: Clean Values (Optional formatting)
# ---------------------------------------------

df['Unit Price (USD) Extracted'] = df['Unit Price (USD) Extracted'].str.replace("USD", "", case=False).str.replace("$", "").str.strip()
df['Embedded Quantity'] = df['Embedded Quantity'].str.extract(r"(\d+)")

# ---------------------------------------------
# ðŸ“Œ STEP 7: Export Cleaned Dataset
# ---------------------------------------------

output_path = "/content/processed_trade_data.csv"
df.to_csv(output_path, index=False)

print("Processing Completed!")
print("Cleaned file saved at:", output_path)

df.head()

Data Loaded Successfully. Rows: 2079
DataFrame Columns: ['PORT CODE', 'DATE', 'IEC', 'HS CODE', 'GOODS DESCRIPTION', 'Master category', 'Model Name', 'Model Number', 'Capacity', 'Qty', 'Unit of measure', 'Price', 'Unit of measure.1', 'QUANTITY', 'UNIT', 'UNIT PRICE_INR', 'TOTAL VALUE_INR', 'UNIT PRICE_USD', 'TOTAL VALUE_USD', 'DUTY PAID_INR']
Processing Completed!
Cleaned file saved at: /content/processed_trade_data.csv

,PORT CODE,DATE,IEC,HS CODE,GOODS DESCRIPTION,Master category,Model Name,Model Number,Capacity,Qty,...,TOTAL VALUE_INR,UNIT PRICE_USD,TOTAL VALUE_USD,DUTY PAID_INR,Standardized Unit,Model,Capacity/Spec,Material Type,Embedded Quantity,Unit Price (USD) Extracted
0,INNSA1,2025-10-28,301049751,73239990,TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...,NaN,NaN,NaN,NaN,NaN,...,116500.34,4.529034,1313.419842,32736.6,KG,TH5170,None,STEEL,600,None
1,INNSA1,2025-10-28,301049751,73231000,8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...,NaN,NaN,NaN,NaN,NaN,...,4317901.74,4.967331,48679.839230,1898149.5,KG,None,None,STEEL,2,None
2,INNSA1,2025-10-23,301049751,73239990,MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...,NaN,NaN,NaN,NaN,NaN,...,1637210.23,4.609850,18457.837990,460056.0,KG,None,None,STEEL,232,None
3,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...,NaN,NaN,NaN,NaN,NaN,...,586155.51,4.219151,6534.621070,164709.7,KG,None,None,STEEL,6336,None
4,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...,NaN,NaN,NaN,NaN,NaN,...,4014265.76,4.456407,44752.126640,1128008.7,KG,None,None,STEEL,43038,None

In [12]:
columns_to_drop = ['Master category', 'Model Name', 'Model Number', 'Capacity', 'Qty', 'Unit of measure', 'Price', 'Unit of measure.1']
df = df.drop(columns=columns_to_drop, errors='ignore')

print("Removed specified columns. New DataFrame columns:")
print(df.columns.tolist())

df.head()

Removed specified columns. New DataFrame columns:
['PORT CODE', 'DATE', 'IEC', 'HS CODE', 'GOODS DESCRIPTION', 'QUANTITY', 'UNIT', 'UNIT PRICE_INR', 'TOTAL VALUE_INR', 'UNIT PRICE_USD', 'TOTAL VALUE_USD', 'DUTY PAID_INR', 'Standardized Unit', 'Model', 'Capacity/Spec', 'Material Type', 'Embedded Quantity', 'Unit Price (USD) Extracted']

,PORT CODE,DATE,IEC,HS CODE,GOODS DESCRIPTION,QUANTITY,UNIT,UNIT PRICE_INR,TOTAL VALUE_INR,UNIT PRICE_USD,TOTAL VALUE_USD,DUTY PAID_INR,Standardized Unit,Model,Capacity/Spec,Material Type,Embedded Quantity,Unit Price (USD) Extracted
0,INNSA1,2025-10-28,301049751,73239990,TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...,290.0,KGS,401.725310,116500.34,4.529034,1313.419842,32736.6,KG,TH5170,None,STEEL,600,None
1,INNSA1,2025-10-28,301049751,73231000,8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...,9800.0,KGS,440.602218,4317901.74,4.967331,48679.839230,1898149.5,KG,None,None,STEEL,2,None
2,INNSA1,2025-10-23,301049751,73239990,MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...,4004.0,KGS,408.893664,1637210.23,4.609850,18457.837990,460056.0,KG,None,None,STEEL,232,None
3,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...,1548.8,KGS,378.457845,586155.51,4.219151,6534.621070,164709.7,KG,None,None,STEEL,6336,None
4,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...,10042.2,KGS,399.739675,4014265.76,4.456407,44752.126640,1128008.7,KG,None,None,STEEL,43038,None

In [13]:
output_path = "/content/processed_trade_data.csv"
df.to_csv(output_path, index=False)

print("Processing Completed!")
print("Cleaned file saved at:", output_path)

df.head()

Processing Completed!
Cleaned file saved at: /content/processed_trade_data.csv

,PORT CODE,DATE,IEC,HS CODE,GOODS DESCRIPTION,QUANTITY,UNIT,UNIT PRICE_INR,TOTAL VALUE_INR,UNIT PRICE_USD,TOTAL VALUE_USD,DUTY PAID_INR,Standardized Unit,Model,Capacity/Spec,Material Type,Embedded Quantity,Unit Price (USD) Extracted
0,INNSA1,2025-10-28,301049751,73239990,TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...,290.0,KGS,401.725310,116500.34,4.529034,1313.419842,32736.6,KG,TH5170,None,STEEL,600,None
1,INNSA1,2025-10-28,301049751,73231000,8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...,9800.0,KGS,440.602218,4317901.74,4.967331,48679.839230,1898149.5,KG,None,None,STEEL,2,None
2,INNSA1,2025-10-23,301049751,73239990,MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...,4004.0,KGS,408.893664,1637210.23,4.609850,18457.837990,460056.0,KG,None,None,STEEL,232,None
3,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...,1548.8,KGS,378.457845,586155.51,4.219151,6534.621070,164709.7,KG,None,None,STEEL,6336,None
4,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...,10042.2,KGS,399.739675,4014265.76,4.456407,44752.126640,1128008.7,KG,None,None,STEEL,43038,None

# Task
Calculate the 'Grand Total' by summing 'TOTAL VALUE_INR' and 'DUTY PAID_INR' columns, then define and apply categorization logic based on 'GOODS DESCRIPTION' and 'HS CODE' to create 'Category' and 'Sub-Category' columns, and finally display the updated DataFrame to summarize the landed cost calculation and new hierarchical categorization.

## Calculate Grand Total

### Subtask:
Create a new column named 'Grand Total' by summing the 'TOTAL VALUE_INR' and 'DUTY PAID_INR' columns.

**Reasoning**:
To calculate the 'Grand Total', I will sum the 'TOTAL VALUE_INR' and 'DUTY PAID_INR' columns and store the result in a new column named 'Grand Total'.

In [14]:
df['Grand_Total'] = df['TOTAL VALUE_INR'] + df['DUTY PAID_INR']
print("Added 'Grand_Total' column.")
df.head()

Added 'Grand_Total' column.

,PORT CODE,DATE,IEC,HS CODE,GOODS DESCRIPTION,QUANTITY,UNIT,UNIT PRICE_INR,TOTAL VALUE_INR,UNIT PRICE_USD,TOTAL VALUE_USD,DUTY PAID_INR,Standardized Unit,Model,Capacity/Spec,Material Type,Embedded Quantity,Unit Price (USD) Extracted,Grand_Total
0,INNSA1,2025-10-28,301049751,73239990,TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...,290.0,KGS,401.725310,116500.34,4.529034,1313.419842,32736.6,KG,TH5170,None,STEEL,600,None,149236.94
1,INNSA1,2025-10-28,301049751,73231000,8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...,9800.0,KGS,440.602218,4317901.74,4.967331,48679.839230,1898149.5,KG,None,None,STEEL,2,None,6216051.24
2,INNSA1,2025-10-23,301049751,73239990,MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...,4004.0,KGS,408.893664,1637210.23,4.609850,18457.837990,460056.0,KG,None,None,STEEL,232,None,2097266.23
3,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...,1548.8,KGS,378.457845,586155.51,4.219151,6534.621070,164709.7,KG,None,None,STEEL,6336,None,750865.21
4,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...,10042.2,KGS,399.739675,4014265.76,4.456407,44752.126640,1128008.7,KG,None,None,STEEL,43038,None,5142274.46

## Define Category and Sub-Category Logic

### Subtask:
Develop functions or conditional logic to categorize items based on keywords found in the 'GOODS DESCRIPTION' column and 'HS CODE'. This will involve creating a 'Category' column (e.g., Electronics, Glass, Steel, Plastic, Polyhouse) and a 'Sub-Category' column (e.g., Borosilicate, Opalware, Spoon, Fork) based on the assigned Category.

**Reasoning**:
I need to define a function `categorize_goods` that takes `goods_desc` and `hs_code` as input and applies conditional logic to assign 'Category' and 'Sub-Category' based on keywords in `goods_desc` and specific `hs_code` values, as per the instructions. This function will then be applied to the DataFrame to create the new columns.

In [15]:
def categorize_goods(goods_desc, hs_code):
    goods_desc_lower = str(goods_desc).lower()
    category = 'Other'
    sub_category = None

    # Category: Glass
    if 'glass' in goods_desc_lower:
        category = 'Glass'
        if 'borosilicate' in goods_desc_lower:
            sub_category = 'Borosilicate'
        elif 'opalware' in goods_desc_lower:
            sub_category = 'Opalware'
        elif 'tumbler' in goods_desc_lower:
            sub_category = 'Tumbler'
        elif 'jug' in goods_desc_lower:
            sub_category = 'Jug'
        elif 'bowl' in goods_desc_lower:
            sub_category = 'Bowl'
        elif 'plate' in goods_desc_lower:
            sub_category = 'Plate'

    # Category: Steel
    elif 'steel' in goods_desc_lower or 'cutlery' in goods_desc_lower:
        category = 'Steel'
        if 'spoon' in goods_desc_lower:
            sub_category = 'Spoon'
        elif 'fork' in goods_desc_lower:
            sub_category = 'Fork'
        elif 'knife' in goods_desc_lower:
            sub_category = 'Knife'
        elif 'holder' in goods_desc_lower:
            sub_category = 'Cutlery Holder'
        elif 'scrubber' in goods_desc_lower:
            sub_category = 'Scrubber'
        elif 'strainer' in goods_desc_lower:
            sub_category = 'Strainer'
        elif 'kettle' in goods_desc_lower:
            sub_category = 'Kettle'
        elif 'cooker' in goods_desc_lower:
            sub_category = 'Cooker'
        elif 'frying pan' in goods_desc_lower:
            sub_category = 'Frying Pan'
        elif 'tava' in goods_desc_lower:
            sub_category = 'Tava'
        elif 'bottle' in goods_desc_lower:
            sub_category = 'Bottle'

    # Category: Plastic
    elif 'plastic' in goods_desc_lower or 'melamine' in goods_desc_lower:
        category = 'Plastic'
        if 'bottle' in goods_desc_lower:
            sub_category = 'Bottle'
        elif 'container' in goods_desc_lower:
            sub_category = 'Container'
        elif 'tray' in goods_desc_lower:
            sub_category = 'Tray'
        elif 'mug' in goods_desc_lower:
            sub_category = 'Mug'

    # Category: Polyhouse/Greenhouse
    elif 'polyhouse' in goods_desc_lower or 'greenhouse' in goods_desc_lower:
        category = 'Polyhouse'
        if 'film' in goods_desc_lower:
            sub_category = 'Film'
        elif 'pipe' in goods_desc_lower:
            sub_category = 'Pipe'
        elif 'sheet' in goods_desc_lower:
            sub_category = 'Sheet'

    # Category: Electronics (Example using HS Code, adjust as needed)
    # These are illustrative HS Codes; real ones would need to be verified.
    elif hs_code in [85161000, 85167990, 85168000]: # Example HS codes for heating appliances, other electrical appliances
        category = 'Electronics'
        if 'heater' in goods_desc_lower:
            sub_category = 'Heater'
        elif 'mixer' in goods_desc_lower:
            sub_category = 'Mixer'
        elif 'iron' in goods_desc_lower:
            sub_category = 'Iron'

    # General Kitchenware category based on common HS Codes if not caught by material
    if category == 'Other' and str(hs_code).startswith('7323'): # HS Code for Table, kitchen or other household articles
        category = 'Kitchenware'
        if 'cooker' in goods_desc_lower:
            sub_category = 'Pressure Cooker'
        elif 'utensil' in goods_desc_lower:
            sub_category = 'Utensil'
        elif 'frypan' in goods_desc_lower or 'frying pan' in goods_desc_lower:
            sub_category = 'Frying Pan'
        elif 'kadai' in goods_desc_lower:
            sub_category = 'Kadai'
        elif 'casserole' in goods_desc_lower:
            sub_category = 'Casserole'
        elif 'pot' in goods_desc_lower:
            sub_category = 'Pot'
        elif 'lid' in goods_desc_lower:
            sub_category = 'Lid'
        elif 'grill' in goods_desc_lower:
            sub_category = 'Grill'

    return category, sub_category

# Apply the function to create 'Category' and 'Sub-Category' columns
df[['Category', 'Sub-Category']] = df.apply(lambda row: categorize_goods(row['GOODS DESCRIPTION'], row['HS CODE']), axis=1, result_type='expand')

print("Created 'Category' and 'Sub-Category' columns.")
df.head()

Created 'Category' and 'Sub-Category' columns.

,PORT CODE,DATE,IEC,HS CODE,GOODS DESCRIPTION,QUANTITY,UNIT,UNIT PRICE_INR,TOTAL VALUE_INR,UNIT PRICE_USD,...,DUTY PAID_INR,Standardized Unit,Model,Capacity/Spec,Material Type,Embedded Quantity,Unit Price (USD) Extracted,Grand_Total,Category,Sub-Category
0,INNSA1,2025-10-28,301049751,73239990,TH5170 STEEL CUTLERY HOLDER (QTY:600 PCS/USD 2...,290.0,KGS,401.725310,116500.34,4.529034,...,32736.6,KG,TH5170,None,STEEL,600,None,149236.94,Steel,Cutlery Holder
1,INNSA1,2025-10-28,301049751,73231000,8001-2 STEEL SCRUBBER 2PCS SET (QTY: 336000 SE...,9800.0,KGS,440.602218,4317901.74,4.967331,...,1898149.5,KG,None,None,STEEL,2,None,6216051.24,Steel,Scrubber
2,INNSA1,2025-10-23,301049751,73239990,MILD STEEL MULTI FUNCTION CLOTH STAND (RYX-02-...,4004.0,KGS,408.893664,1637210.23,4.609850,...,460056.0,KG,None,None,STEEL,232,None,2097266.23,Steel,None
3,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 6336 PCS/USD...,1548.8,KGS,378.457845,586155.51,4.219151,...,164709.7,KG,None,None,STEEL,6336,None,750865.21,Steel,Strainer
4,INNSA1,2025-10-13,301049751,73239990,SB-12 STEEL TEA STRAINER BIG (QTY 43038 PCS/US...,10042.2,KGS,399.739675,4014265.76,4.456407,...,1128008.7,KG,None,None,STEEL,43038,None,5142274.46,Steel,Strainer

In [16]:
import sqlite3
import pandas as pd

# Load processed file
df1=pd.read_csv("/content/processed_trade_data.csv")

# Connect to database
conn = sqlite3.connect("trade_database.db")

# Write dataframe to SQL table
df.to_sql("trade_data", conn, if_exists="replace", index=False)

print("Data successfully loaded into SQL.")

Data successfully loaded into SQL.

In [17]:
query = """WITH yearly AS (
    SELECT
        strftime('%Y', DATE) AS year,
        SUM("TOTAL VALUE_INR") AS total_value,
        SUM("DUTY PAID_INR") AS total_duty,
        SUM("Grand Total") AS total_grand
    FROM trade_data
    GROUP BY strftime('%Y', DATE)
)
SELECT
    a.year,
    a.total_value,
    b.total_value AS prev_year_value,
    ROUND(((a.total_value - b.total_value) / b.total_value) * 100.0, 2) AS YoY_Total_Value_Growth,

    a.total_duty,
    b.total_duty AS prev_year_duty,
    ROUND(((a.total_duty - b.total_duty) / b.total_duty) * 100.0, 2) AS YoY_Duty_Growth,

    a.total_grand,
    b.total_grand AS prev_year_grand,
    ROUND(((a.total_grand - b.total_grand) / b.total_grand) * 100.0, 2) AS YoY_Grand_Total_Growth

FROM yearly a
LEFT JOIN yearly b
ON CAST(a.year AS INTEGER) = CAST(b.year AS INTEGER) + 1
ORDER BY a.year;
"""
pd.read_sql(query, conn)

,year,total_value,prev_year_value,YoY_Total_Value_Growth,total_duty,prev_year_duty,YoY_Duty_Growth,total_grand,prev_year_grand,YoY_Grand_Total_Growth
0,2017,1.582432e+08,NaN,NaN,32749950.0,NaN,NaN,0.0,NaN,None
1,2018,3.342265e+08,1.582432e+08,111.21,82490491.7,32749950.0,151.88,0.0,0.0,None
2,2019,4.214030e+08,3.342265e+08,26.08,104022203.5,82490491.7,26.10,0.0,0.0,None
3,2020,3.492895e+08,4.214030e+08,-17.11,120306630.7,104022203.5,15.65,0.0,0.0,None
4,2021,4.873978e+08,3.492895e+08,39.54,181603576.5,120306630.7,50.95,0.0,0.0,None
5,2022,7.543238e+08,4.873978e+08,54.77,280443504.1,181603576.5,54.43,0.0,0.0,None
6,2023,8.704074e+08,7.543238e+08,15.39,321521809.1,280443504.1,14.65,0.0,0.0,None
7,2024,4.255180e+08,8.704074e+08,-51.11,160749491.5,321521809.1,-50.00,0.0,0.0,None
8,2025,3.931292e+08,4.255180e+08,-7.61,146129162.7,160749491.5,-9.10,0.0,0.0,None

In [18]:
query="""WITH ranked AS (
    SELECT
        "HS CODE" AS hsn_code,
        SUM("Grand Total") AS total_value,
        ROW_NUMBER() OVER (ORDER BY SUM("Grand Total") DESC) AS rn
    FROM trade_data
    GROUP BY "HS CODE"
),
bucketed AS (
    SELECT
        CASE WHEN rn <= 25 THEN hsn_code ELSE 'OTHERS' END AS category,
        total_value
    FROM ranked
)
SELECT
    category,
    SUM(total_value) AS total_value,
    ROUND(SUM(total_value) * 100.0 / (SELECT SUM("Grand Total") FROM trade_data), 2) AS contribution_percent
FROM bucketed
GROUP BY category
ORDER BY total_value DESC;
"""
pd.read_sql(query, conn)

   category  total_value contribution_percent
0  73239990          0.0                 None
1  73239390          0.0                 None
2  73231000          0.0                 None

In [19]:
query = """WITH activity AS (
    SELECT
        IEC AS entity_identifier,
        MIN(strftime('%Y', DATE)) AS first_year,
        MAX(strftime('%Y', DATE)) AS last_year
    FROM trade_data
    GROUP BY IEC
)
SELECT
    entity_identifier,
    first_year,
    last_year,
    CASE
        WHEN last_year = '2025' THEN 'ACTIVE'
        ELSE 'CHURNED'
    END AS entity_status
FROM activity
ORDER BY entity_status, entity_identifier;
"""
pd.read_sql(query, conn)

   entity_identifier first_year last_year entity_status
0          301049751       2017      2025        ACTIVE

In [27]:
# Retry: robust version that avoids None columns and handles missing fields gracefully.
import pandas as pd
import numpy as np
import os
from scipy import stats
# Removed: from caas_jupyter_tools import display_dataframe_to_user

INPUT = "/content/processed_trade_data.csv"
# df = pd.read_csv(INPUT) # Removed this line to ensure we use the 'df' with Grand_Total and categories

# normalize column names
df.columns = [c.strip() for c in df.columns]

def find_col(possible_names):
    for p in possible_names:
        for c in df.columns:
            if c.lower().replace('_',' ').strip() == p.lower().replace('_',' ').strip():
                return c
    for p in possible_names:
        for c in df.columns:
            if p.lower() in c.lower():
                return c
    return None

col_shipment_date = find_col(['shipment_date','date_of_shipment','date'])
col_year = find_col(['year'])
col_hsn = find_col(['hsn_code','hsn'])
col_model = find_col(['model','model_name','model_name_extracted','model_name_extracted'])
col_model_number = find_col(['model_number','model_number_extracted'])
col_capacity = find_col(['parsed_capacity','capacity','capacity/spec','capacity_spec','parsed capacity','capacity/spec'])
col_material = find_col(['parsed_material','material','material_type'])
col_embedded_qty = find_col(['parsed_embedded_qty','embedded_quantity','embedded_qty'])
col_qty = find_col(['quantity','qty','quantity '])
col_unit = find_col(['unit_standard','unit','standardized_unit'])
col_unit_price_inr = find_col(['unit price (inr)','unit_price_inr','unit_price_inr','unit price inr','unit price'])
col_unit_price_usd = find_col(['parsed_price_usd','unit_price_usd','unit price usd','price_usd'])
col_total_value = find_col(['total value (inr)','total_value_inr','total value inr','total_value','total_value'])
col_duty = find_col(['duty paid (inr)','duty_paid','duty paid','duty_paid_inr','duty'])
col_grand = find_col(['grand total (inr)','grand_total','grand total','grand_total_inr','grand'])
col_duty_pct = find_col(['duty_pct_of_value','duty_pct_of_value','duty_pct','duty_pct'])
col_supplier = find_col(['supplier name and address','supplier','supplier_name_and_address','supplier_name','supplier_name'])

# Convert numeric columns carefully
for c in [col_qty, col_unit_price_inr, col_unit_price_usd, col_total_value, col_duty, col_grand, col_embedded_qty]:
    if c and c in df.columns:
        df[c] = pd.to_numeric(df[c].astype(str).str.replace(',','').replace('', np.nan), errors='coerce')

# ensure year column
if col_year is None:
    if col_shipment_date and col_shipment_date in df.columns:
        df['year'] = pd.to_datetime(df[col_shipment_date], dayfirst=True, errors='coerce').dt.year
        col_year = 'year'
    else:
        df['year'] = pd.NA
        col_year = 'year'

# Model-Level Insights
model_col = col_model
year_col = col_year
qty_col = col_qty
# prefer INR unit price, else USD
unit_price_col = col_unit_price_inr if col_unit_price_inr else col_unit_price_usd

# Build aggregation dict dynamically
if model_col and year_col and qty_col and model_col in df.columns:
    agg_dict = {}
    agg_dict[qty_col] = 'sum'
    if unit_price_col and unit_price_col in df.columns:
        agg_dict[unit_price_col] = ['mean','min','max','median','count']
    if col_supplier and col_supplier in df.columns:
        agg_dict[col_supplier] = lambda x: x.nunique()
    grouped = df.groupby([model_col, year_col], dropna=False).agg(agg_dict)
    # flatten columns
    grouped.columns = ['_'.join([c for c in tup if c]) if isinstance(tup, tuple) else tup for tup in grouped.columns.values]
    grouped = grouped.reset_index().rename(columns={qty_col+'_'+'sum':'total_qty'})
    # rename supplier lambda column if present
    if col_supplier and (col_supplier in df.columns):
        # find column name containing supplier lambda
        for col in grouped.columns:
            if 'lambda' in str(col):
                grouped = grouped.rename(columns={col:'supplier_count'})
    # standardize price column names if present
    if unit_price_col and unit_price_col in df.columns:
        # mean is unit_price_col_mean
        mean_col = unit_price_col + '_mean'
        min_col = unit_price_col + '_min'
        max_col = unit_price_col + '_max'
        med_col = unit_price_col + '_median'
        count_col = unit_price_col + '_count'
        # rename to friendlier names if exist
        rename_map = {}
        if mean_col in grouped.columns:
            rename_map[mean_col] = 'avg_unit_price'
        if min_col in grouped.columns:
            rename_map[min_col] = 'min_unit_price'
        if max_col in grouped.columns:
            rename_map[max_col] = 'max_unit_price'
        if med_col in grouped.columns:
            rename_map[med_col] = 'median_unit_price'
        if count_col in grouped.columns:
            rename_map[count_col] = 'price_observations'
        grouped = grouped.rename(columns=rename_map)
else:
    grouped = pd.DataFrame()

# Save model-year summary
model_year_csv = "/content/model_year_summary.csv"
grouped.to_csv(model_year_csv, index=False)

# Compare Unit Prices for same model across suppliers
if model_col and col_supplier and unit_price_col and all(x in df.columns for x in [model_col, col_supplier, unit_price_col]):
    comp = df.groupby([model_col, col_supplier]).agg(
        avg_price = (unit_price_col, 'mean'),
        min_price = (unit_price_col, 'min'),
        max_price = (unit_price_col, 'max'),
        total_qty = (qty_col, 'sum'),
        shipments = (unit_price_col, 'count')
    ).reset_index().sort_values([model_col, 'avg_price'])
else:
    comp = pd.DataFrame()

comp_csv = "/content/model_supplier_prices.csv"
comp.to_csv(comp_csv, index=False)

# Capacity Analysis
capacity_col = col_capacity
if capacity_col and capacity_col in df.columns:
    cap = df.groupby(capacity_col).agg(
        total_qty = (qty_col, 'sum'),
        total_value = (col_total_value, 'sum'),
        shipments = (capacity_col, 'count')
    ).reset_index().sort_values('total_qty', ascending=False)
else:
    cap = pd.DataFrame()

cap_csv = "/content/capacity_summary.csv"
cap.to_csv(cap_csv, index=False)

# Cost & Duty Structure
df['quantity_for_landed'] = df[qty_col].replace(0, np.nan) if qty_col and qty_col in df.columns else np.nan
if col_grand and col_grand in df.columns and 'quantity_for_landed' in df.columns:
    df['landed_cost_per_unit'] = df[col_grand] / df['quantity_for_landed']
else:
    df['landed_cost_per_unit'] = np.nan

# duty percent
if col_duty_pct and col_duty_pct in df.columns:
    df['duty_pct'] = pd.to_numeric(df[col_duty_pct], errors='coerce')
elif col_duty and col_total_value and col_duty in df.columns and col_total_value in df.columns:
    df['duty_pct'] = df[col_duty] / df[col_total_value] * 100
else:
    df['duty_pct'] = np.nan

# Flag anomalies: duty_pct < 0 or > 100 or extreme z-score
duty_pct_series = df['duty_pct'].dropna()
anomaly_flags = pd.Series(False, index=df.index)
if not duty_pct_series.empty:
    # compute zscore on non-null entries
    z = stats.zscore(duty_pct_series)
    z_series = pd.Series(z, index=duty_pct_series.index)
    full_z = pd.Series(index=df.index, dtype=float)
    full_z.loc[z_series.index] = z_series.values
    anomaly_flags = (df['duty_pct'] < 0) | (df['duty_pct'] > 100) | (full_z.abs() > 3)
else:
    anomaly_flags[:] = False

df['anomalous_duty_flag'] = anomaly_flags

anomalies = df[df['anomalous_duty_flag']].copy()
anomalies_csv = "/content/anomalous_duty_transactions.csv"
anomalies.to_csv(anomalies_csv, index=False)

# Save enriched dataset
enriched_csv = "/content/processed_trade_data_enriched.csv"
df.to_csv(enriched_csv, index=False)

# Display outputs
print("Model-Year Summary (Top 50 rows)")
if not grouped.empty:
    print(grouped.head(50).to_markdown(index=False))
else:
    print("Empty DataFrame")

print("\nModel-Supplier Price Comparison (Top 50 rows)")
if not comp.empty:
    print(comp.head(50).to_markdown(index=False))
else:
    print("Empty DataFrame")

print("\nTop Capacities by Volume (Top 50 rows)")
if not cap.empty:
    print(cap.head(50).to_markdown(index=False))
else:
    print("Empty DataFrame")

print("\nAnomalous Duty Transactions (Top 50 rows)")
if not anomalies.empty:
    print(anomalies.head(50).to_markdown(index=False))
else:
    print("Empty DataFrame")

print("\nSaved CSVs:")
print(" - Model-Year summary:", model_year_csv)
print(" - Model-Supplier prices:", comp_csv)
print(" - Capacity summary:", cap_csv)
print(" - Anomalous transactions:", anomalies_csv)
print(" - Full enriched dataset:", enriched_csv)

Model-Year Summary (Top 50 rows)
| Model    |   year |       total_qty |   avg_unit_price |   min_unit_price |   max_unit_price |   median_unit_price |   price_observations |
|:---------|-------:|----------------:|-----------------:|-----------------:|-----------------:|--------------------:|---------------------:|
| AB39     |   2017 |  44820          |         96.7299  |         94.9255  |         97.7586  |            97.5056  |                    3 |
| AISI430  |   2017 | 373680          |          7.61676 |          4.71275 |         10.5208  |             7.61676 |                    2 |
| ANG537   |   2017 | 636768          |          4.76    |          4.76    |          4.76    |             4.76    |                    2 |
| ANG537   |   2018 |      1.4917e+06 |          4.91765 |          4.75695 |          4.97358 |             4.96438 |                    5 |
| ANGW11   |   2017 | 696096          |         10.8401  |         10.4798  |         11.2452  |            10.7874  |                    6 |
| CH302322 |   2017 |   9900          |         39.0479  |         39.0479  |         39.0479  |            39.0479  |                    1 |
| GR40275  |   2017 | 115848          |         24.2558  |         24.2558  |         24.2558  |            24.2558  |                    1 |
| GS21     |   2018 |   6000          |         17.254   |         17.254   |         17.254   |            17.254   |                    1 |
| GT001    |   2025 |    180          |        154.169   |        154.169   |        154.169   |           154.169   |                    1 |
| HLG0001  |   2018 |   1920          |         74.4367  |         74.4367  |         74.4367  |            74.4367  |                    1 |
| HLG00020 |   2018 |    960          |        104.956   |        104.956   |        104.956   |           104.956   |                    1 |
| KL32     |   2022 |   8451          |        381.446   |        381.446   |        381.446   |           381.446   |                    1 |
| KL321    |   2019 |    750          |        437.744   |        409.662   |        465.826   |           437.744   |                    2 |
| KL321    |   2020 |   4910.2        |        358.794   |        354.275   |        363.313   |           358.794   |                    2 |
| KL324    |   2019 |   2314.5        |        488.853   |        360.607   |        805.953   |           394.425   |                    4 |
| KL324    |   2020 |  13944          |        315.063   |        305.562   |        324.564   |           315.063   |                    2 |
| KL324    |   2021 |  29298          |        341.066   |        322.047   |        377.789   |           323.362   |                    3 |
| KL324    |   2022 |  45074.8        |        376.691   |        365.901   |        384.145   |           378.09    |                    5 |
| KL324    |   2023 |  57564          |        336.576   |        330.359   |        339.48    |           337.929   |                    6 |
| KL324    |   2024 |   9676          |        333.092   |        333.092   |        333.092   |           333.092   |                    1 |
| KL3241   |   2020 |   8592.8        |        355.904   |        340.797   |        373.027   |           353.888   |                    3 |
| KL326    |   2019 |    250          |        354.915   |        354.915   |        354.915   |           354.915   |                    1 |
| KL326    |   2020 |  17099.5        |        322.891   |        309.185   |        338.425   |           321.062   |                    3 |
| KL326    |   2021 |  17242.5        |        368.543   |        331.978   |        405.107   |           368.543   |                    2 |
| KL326    |   2022 |  10817.6        |        394.224   |        388.543   |        399.906   |           394.224   |                    2 |
| KL326    |   2023 |  16745.5        |        360.607   |        352.423   |        368.79    |           360.607   |                    2 |
| KW830    |   2019 |  14040          |         75.5166  |         75.5166  |         75.5166  |            75.5166  |                    1 |
| MLSK750  |   2022 |   7639.2        |        556.807   |        556.807   |        556.807   |           556.807   |                    1 |
| NP003    |   2021 |  23520          |        391.428   |        391.428   |        391.428   |           391.428   |                    1 |
| QTY34920 |   2019 |   6790          |        395.584   |        395.584   |        395.584   |           395.584   |                    1 |
| QTY47160 |   2019 |   7451.28       |        415.784   |        415.784   |        415.784   |           415.784   |                    1 |
| QTY99600 |   2022 |   8677.15       |        255.381   |        255.381   |        255.381   |           255.381   |                    1 |
| RM2628   |   2017 |  68760          |         31.4153  |         31.4153  |         31.4153  |            31.4153  |                    1 |
| RY304    |   2024 |     89.6        |       1035.16    |        999.468   |       1070.85    |          1035.16    |                    2 |
| SD0900   |   2023 |    720          |        111.058   |        111.058   |        111.058   |           111.058   |                    1 |
| SD1078   |   2024 |   3947.3        |        406.755   |        401.381   |        412.13    |           406.755   |                    2 |
| SD1078   |   2025 |   3910          |        402.75    |        402.75    |        402.75    |           402.75    |                    1 |
| SG210    |   2023 |   4720.8        |        576.45    |        574.947   |        578.262   |           576.14    |                    3 |
| SG2318   |   2023 |   7377.6        |        340.099   |         93.1179  |        587.081   |           340.099   |                    2 |
| SG705    |   2022 |     90          |        608.722   |        608.722   |        608.722   |           608.722   |                    1 |
| SG705    |   2023 |  18381.8        |        642.774   |        615.764   |        652.255   |           646.739   |                    8 |
| SG707    |   2023 |   4980          |        560.78    |        558.203   |        563.136   |           561       |                    3 |
| SG805    |   2019 |  14310          |        575.528   |        532.704   |        597.817   |           581.077   |                    5 |
| SG805    |   2020 |  19237          |        529.505   |        506.474   |        550.798   |           535.011   |                    8 |
| SG805    |   2021 |   6750          |        600.479   |        595.865   |        611.856   |           597.099   |                    4 |
| SG805    |   2022 |  49042.8        |        638.057   |        572.906   |        660.049   |           647.425   |                   16 |
| SG805    |   2023 |  89764.3        |        557.828   |         91.9219  |        620.915   |           595.142   |                   22 |
| SG902    |   2022 |     96          |        634.086   |        634.086   |        634.086   |           634.086   |                    1 |
| SG902    |   2023 |   8904          |        591.776   |        585.183   |        609.534   |           585.771   |                    5 |
| SH158    |   2024 |     21          |       1792.58    |       1792.58    |       1792.58    |          1792.58    |                    1 |

Model-Supplier Price Comparison (Top 50 rows)
Empty DataFrame

Top Capacities by Volume (Top 50 rows)
| Capacity/Spec   |        total_qty |     total_value |   shipments |
|:----------------|-----------------:|----------------:|------------:|
| 750ML           |      2.01216e+06 |     5.49139e+08 |         367 |
| 600ML           | 913265           |     1.03885e+08 |          60 |
| 650ML           | 418849           |     1.70491e+08 |          93 |
| 1000ML          | 306199           |     5.78629e+07 |          25 |
| 900ML           | 125609           |     6.17811e+07 |          21 |
| 750 ML          |  42553.2         |     2.20033e+07 |          17 |
| 16CM            |  39897           |     7.93367e+06 |          10 |
| 500ML           |  30761.7         |     2.05534e+07 |          13 |
| 730ML           |  24847.4         |     4.16141e+06 |           3 |
| 850ML           |  19188           |     1.38149e+06 |           1 |
| 1000 ML         |  13709           |     5.27028e+06 |           4 |
| 900 ML          |  13700           |     7.60309e+06 |           2 |
| 650 ML          |   7648           |     4.15717e+06 |           1 |
| 800ML           |   7286.5         |     4.11535e+06 |           5 |
| 600 ML          |   6825           |     3.98498e+06 |           1 |
| 420ML           |    300           | 20380.1         |           1 |
| 700ML           |    130           | 78848.7         |           1 |
| 450ML           |    108           | 77271.9         |           1 |
| 1200ML          |     66           | 53721.7         |           1 |
| 680ML           |     60           | 48724.2         |           1 |

Anomalous Duty Transactions (Top 50 rows)
| PORT CODE   | DATE       |       IEC |   HS CODE | GOODS DESCRIPTION                                                                       |   QUANTITY | UNIT   |   UNIT PRICE_INR |   TOTAL VALUE_INR |   UNIT PRICE_USD |   TOTAL VALUE_USD |   DUTY PAID_INR | Standardized Unit   | Model   | Capacity/Spec   | Material Type   |   Embedded Quantity |   Unit Price (USD) Extracted |   year |   quantity_for_landed |   landed_cost_per_unit |   duty_pct | anomalous_duty_flag   |
|:------------|:-----------|----------:|----------:|:----------------------------------------------------------------------------------------|-----------:|:-------|-----------------:|------------------:|-----------------:|------------------:|----------------:|:--------------------|:--------|:----------------|:----------------|--------------------:|-----------------------------:|-------:|----------------------:|-----------------------:|-----------:|:----------------------|
| INNSA1      | 2020-11-03 | 301049751 |  73239990 | STEEL HANGER WITH HOOK ITEM NO. SM1168 (QTY: 25440 NUM / USD1.160 PER NUM               |     4770   | KGS    |         490.842  |       2.34132e+06 |         6.61066  |         31532.9   |               0 | KG                  | SM1168  | nan             | STEEL           |                 nan |                          nan |   2020 |                4770   |                    nan |          0 | True                  |
| INNSA1      | 2020-11-02 | 301049751 |  73239990 | STEEL TEA STRAINER BIG - SB-12 (QTY- 10080 PCS/USD 1.1619 PER PCS)                      |     2394   | KGS    |         384.908  |  921471           |         5.18395  |         12410.4   |               0 | KG                  | nan     | nan             | STEEL           |               10080 |                          nan |   2020 |                2394   |                    nan |          0 | True                  |
| INNSA1      | 2020-11-02 | 301049751 |  73239990 | STEEL ZHARA - NP-003 (QTY- 60120 PCS/USD 0.4392 PER PCS)                                |     5611.2 | KGS    |         370.235  |       2.07746e+06 |         4.98633  |         27979.3   |               0 | KG                  | nan     | nan             | STEEL           |               60120 |                          nan |   2020 |                5611.2 |                    nan |          0 | True                  |
| INNSA1      | 2017-08-31 | 301049751 |  73239990 | STEEL ZHARA-NP-03 (TOTAL NET WT.3269.88 KGS) (MILD STEEL)                               |    35160   | PCS    |          31.3727 |       1.10306e+06 |         0.481545 |         16931.1   |               0 | PCS                 | nan     | nan             | STEEL           |                 nan |                          nan |   2017 |               35160   |                    nan |          0 | True                  |
| INNSA1      | 2017-08-31 | 301049751 |  73239990 | STAINLESS STEEL COLA BOTTLE 750ML SK750-SL-01(TOTAL NET WT. 905.58 KGS)(MILD STEEL)     |     4644   | PCS    |          92.9733 |  431768           |         1.42707  |          6627.29  |               0 | PCS                 | SK750   | 750ML           | STEEL           |                 nan |                          nan |   2017 |                4644   |                    nan |          0 | True                  |
| INNSA1      | 2017-08-31 | 301049751 |  73239990 | STAINLESS STEEL SPORTS BOTTLE 750ML S-308-C6-NP-20(TOTAL NET WT.72.14 KGS) (MILD STEEL) |      432   | PCS    |          73.3532 |   31688.6         |         1.12591  |           486.394 |               0 | PCS                 | nan     | 750ML           | STEEL           |                 nan |                          nan |   2017 |                 432   |                    nan |          0 | True                  |
| INNSA1      | 2017-08-31 | 301049751 |  73239990 | STAINLESS STEEL SPORTS BOTTLE 600ML S115 -NP-21(TOTAL NET WT. 4782.02 KGS)(MILD STEEL)  |    28296   | PCS    |          80.8731 |       2.28839e+06 |         1.24134  |         35124.9   |               0 | PCS                 | nan     | 600ML           | STEEL           |                 nan |                          nan |   2017 |               28296   |                    nan |          0 | True                  |

Saved CSVs:
 - Model-Year summary: /content/model_year_summary.csv
 - Model-Supplier prices: /content/model_supplier_prices.csv
 - Capacity summary: /content/capacity_summary.csv
 - Anomalous transactions: /content/anomalous_duty_transactions.csv
 - Full enriched dataset: /content/processed_trade_data_enriched.csv

In [21]:
# Save the enriched DataFrame to the SQL database under the name 'processed_trade_data_enriched'
df.to_sql("processed_trade_data_enriched", conn, if_exists="replace", index=False)

query="""SELECT
    Model AS model,
    strftime('%Y', DATE) AS year,
    SUM(QUANTITY) AS total_quantity,
    AVG("UNIT PRICE_INR") AS avg_unit_price_inr,
    AVG("UNIT PRICE_USD") AS avg_unit_price_usd
FROM processed_trade_data_enriched
GROUP BY Model, strftime('%Y', DATE)
ORDER BY model, year;
"""
pd.read_sql(query, conn)

      model  year  total_quantity  avg_unit_price_inr  avg_unit_price_usd
0      None  2017      3090225.00           93.937398            1.428620
1      None  2018      5341126.40          165.644440            2.376787
2      None  2019      2093068.02          368.042129            5.198098
3      None  2020       912307.38          416.667617            5.558289
4      None  2021      1024648.61          457.346269            6.116382
..      ...   ...             ...                 ...                 ...
101    USD2  2021        10171.28          407.323436            5.496942
102    USD2  2022        29355.20          504.598292            6.238576
103    USD3  2021        10892.00          416.381528            5.619184
104   WT985  2017        24048.00           37.031334            0.535909
105  XL8168  2024          386.40         1271.376443           15.095837

[106 rows x 5 columns]

#model-level insights

In [22]:
query="""SELECT
    Model AS model,
    strftime('%Y', DATE) AS year,
    SUM(QUANTITY) AS total_quantity,
    AVG("UNIT PRICE_INR") AS avg_unit_price_inr,
    AVG("UNIT PRICE_USD") AS avg_unit_price_usd
FROM processed_trade_data_enriched
GROUP BY Model, strftime('%Y', DATE)
ORDER BY model, year;
"""
pd.read_sql(query, conn)

      model  year  total_quantity  avg_unit_price_inr  avg_unit_price_usd
0      None  2017      3090225.00           93.937398            1.428620
1      None  2018      5341126.40          165.644440            2.376787
2      None  2019      2093068.02          368.042129            5.198098
3      None  2020       912307.38          416.667617            5.558289
4      None  2021      1024648.61          457.346269            6.116382
..      ...   ...             ...                 ...                 ...
101    USD2  2021        10171.28          407.323436            5.496942
102    USD2  2022        29355.20          504.598292            6.238576
103    USD3  2021        10892.00          416.381528            5.619184
104   WT985  2017        24048.00           37.031334            0.535909
105  XL8168  2024          386.40         1271.376443           15.095837

[106 rows x 5 columns]

B. Compare Unit Prices Across Different Suppliers (Same Model)

In [23]:
query="""SELECT
    Model AS model,
    AVG("UNIT PRICE_INR") AS avg_price_inr,
    MIN("UNIT PRICE_INR") AS min_price_inr,
    MAX("UNIT PRICE_INR") AS max_price_inr,
    SUM(QUANTITY) AS total_quantity,
    COUNT(*) AS shipment_count
FROM processed_trade_data_enriched
WHERE Model IS NOT NULL
GROUP BY Model
ORDER BY model, avg_price_inr ASC;
"""
pd.read_sql(query,conn)

,model,avg_price_inr,min_price_inr,max_price_inr,total_quantity,shipment_count
0,AB39,96.729888,94.925451,97.758619,44820.00,3
1,AISI430,7.616764,4.712749,10.520779,373680.00,2
2,ANG537,4.872605,4.756953,4.973580,2128464.00,7
3,ANGW11,10.840081,10.479830,11.245175,696096.00,6
4,CH302322,39.047875,39.047875,39.047875,9900.00,1
5,GR40275,24.255824,24.255824,24.255824,115848.00,1
6,GS21,17.253965,17.253965,17.253965,6000.00,1
7,GT001,154.169056,154.169056,154.169056,180.00,1
8,HLG0001,74.436677,74.436677,74.436677,1920.00,1
9,HLG00020,104.955719,104.955719,104.955719,960.00,1
10,KL32,381.445597,381.445597,381.445597,8451.00,1
11,KL321,398.268981,354.275041,465.825786,5660.20,4
12,KL324,373.558882,305.562224,805.952556,157871.30,21
13,KL3241,355.903833,340.797162,373.026670,8592.80,3
14,KL326,357.033456,309.185496,405.106832,62155.10,10
15,KW830,75.516626,75.516626,75.516626,14040.00,1
16,MLSK750,556.806874,556.806874,556.806874,7639.20,1
17,NP003,391.427676,391.427676,391.427676,23520.00,1
18,QTY34920,395.584006,395.584006,395.584006,6790.00,1
19,QTY47160,415.783859,415.783859,415.783859,7451.28,1
20,QTY99600,255.380502,255.380502,255.380502,8677.15,1
21,RM2628,31.415268,31.415268,31.415268,68760.00,1
22,RY304,1035.160176,999.468056,1070.852296,89.60,2
23,SD0900,111.058097,111.058097,111.058097,720.00,1
24,SD1078,405.420013,401.380552,412.129524,7857.30,3
25,SG210,576.449732,574.947381,578.261605,4720.80,3
26,SG2318,340.099491,93.117944,587.081037,7377.60,2
27,SG705,638.990409,608.722222,652.254758,18471.80,9
28,SG707,560.779890,558.202960,563.136444,4980.00,3
29,SG805,581.758796,91.921930,660.048546,179104.10,55
30,SG902,598.827784,585.183368,634.085729,9000.00,6
31,SH158,1792.575714,1792.575714,1792.575714,21.00,1
32,SK750,400.640562,90.678671,598.015477,484444.65,75
33,SM1168,498.806941,99.891361,592.342573,112961.50,14
34,SP750,599.460619,599.460619,599.460619,210.00,1
35,SS410,246.196351,198.825036,298.330653,196948.50,27
36,SS430,228.767242,201.813679,255.720804,14370.00,2
37,SY320,341.895147,341.895147,341.895147,2520.00,1
38,SY592,430.000842,430.000842,430.000842,95.00,1
39,SY604,494.851397,414.117041,702.419857,4286.50,4
40,SY722,511.952820,511.952820,511.952820,78.00,1
41,SY772,234.756076,224.329240,249.403114,8169.00,3
42,SY845,510.659717,510.659717,510.659717,3750.00,1
43,TH5170,401.725310,401.725310,401.725310,290.00,1
44,TOTAL102240,468.322010,468.322010,468.322010,3408.00,1
45,TOTAL720,267.979647,267.979647,267.979647,170.00,1
46,USD0,564.613392,428.908741,685.281956,96353.00,17
47,USD1,521.004279,426.731765,619.764572,171750.45,29
48,USD2,480.279578,407.323436,562.412314,39526.48,4
49,USD3,416.381528,416.381528,416.381528,10892.00,1
50,WT985,37.031334,37.031334,37.031334,24048.00,1
51,XL8168,1271.376443,1225.781457,1316.971429,386.40,2

Capacity / Specification Analysis

In [24]:
query="""
SELECT
    "Capacity/Spec" AS capacity,
    SUM(QUANTITY) AS total_quantity,
    SUM("TOTAL VALUE_INR") AS total_import_value,
    ROUND((SUM("TOTAL VALUE_INR") * 100) / (SELECT SUM("TOTAL VALUE_INR") FROM processed_trade_data_enriched), 2) AS percentage_contribution
FROM processed_trade_data_enriched
WHERE "Capacity/Spec" IS NOT NULL
GROUP BY "Capacity/Spec"
ORDER BY total_quantity DESC;
"""
pd.read_sql(query,conn)

   capacity  total_quantity  total_import_value  percentage_contribution
0     750ML      2012163.41        5.491393e+08                    13.09
1     600ML       913264.80        1.038847e+08                     2.48
2     650ML       418849.14        1.704914e+08                     4.07
3    1000ML       306199.00        5.786293e+07                     1.38
4     900ML       125608.80        6.178108e+07                     1.47
5    750 ML        42553.20        2.200328e+07                     0.52
6      16CM        39897.00        7.933671e+06                     0.19
7     500ML        30761.70        2.055345e+07                     0.49
8     730ML        24847.40        4.161412e+06                     0.10
9     850ML        19188.00        1.381489e+06                     0.03
10  1000 ML        13709.00        5.270285e+06                     0.13
11   900 ML        13700.00        7.603087e+06                     0.18
12   650 ML         7648.00        4.157167e+06                     0.10
13    800ML         7286.50        4.115347e+06                     0.10
14   600 ML         6825.00        3.984978e+06                     0.10
15    420ML          300.00        2.038009e+04                     0.00
16    700ML          130.00        7.884868e+04                     0.00
17    450ML          108.00        7.727187e+04                     0.00
18   1200ML           66.00        5.372166e+04                     0.00
19    680ML           60.00        4.872418e+04                     0.00

Cost & Duty Structure

A.Landed Cost Per Unit Calculation Check

In [31]:
import sqlite3
import pandas as pd

# Re-establish connection (if not already connected or if session restarted)
conn = sqlite3.connect("trade_database.db")

# Explicitly load the fully enriched DataFrame from the CSV file
# This ensures all calculated columns (like Grand_Total, Category, Sub-Category) are present
df = pd.read_csv("/content/processed_trade_data_enriched.csv")

# Ensure 'Grand_Total' is present in the DataFrame before saving to SQL
# This step is added as a safeguard if previous steps failed to include it in the CSV
if 'Grand_Total' not in df.columns:
    df['Grand_Total'] = df['TOTAL VALUE_INR'] + df['DUTY PAID_INR']

# Assume 'df' is the current DataFrame in memory, containing 'Grand_Total'
# and other enriched columns. Re-saving it to ensure the database table is up-to-date.
# This step ensures 'Grand_Total' is available in the 'processed_trade_data_enriched' table.
print("Columns in DataFrame before saving to SQL:", df.columns.tolist())
df.to_sql("processed_trade_data_enriched", conn, if_exists="replace", index=False)

query="""SELECT
    Model AS model,
    NULL AS supplier,
    "Capacity/Spec" AS capacity,
    QUANTITY AS quantity,
    Grand_Total AS total_cost,
    CAST(Grand_Total AS REAL) / NULLIF(CAST(QUANTITY AS REAL),0) AS raw_landed_cost_per_unit,
    ROUND(CAST(Grand_Total AS REAL) / NULLIF(CAST(QUANTITY AS REAL),0),2) AS landed_cost_per_unit
FROM processed_trade_data_enriched;
"""
pd.read_sql(query,conn)

Columns in DataFrame before saving to SQL: ['PORT CODE', 'DATE', 'IEC', 'HS CODE', 'GOODS DESCRIPTION', 'QUANTITY', 'UNIT', 'UNIT PRICE_INR', 'TOTAL VALUE_INR', 'UNIT PRICE_USD', 'TOTAL VALUE_USD', 'DUTY PAID_INR', 'Standardized Unit', 'Model', 'Capacity/Spec', 'Material Type', 'Embedded Quantity', 'Unit Price (USD) Extracted', 'year', 'quantity_for_landed', 'landed_cost_per_unit', 'duty_pct', 'anomalous_duty_flag', 'Grand_Total']

,model,supplier,capacity,quantity,total_cost,raw_landed_cost_per_unit,landed_cost_per_unit
0,TH5170,None,None,290.0,149236.94,514.610138,514.61
1,None,None,None,9800.0,6216051.24,634.290943,634.29
2,None,None,None,4004.0,2097266.23,523.792765,523.79
3,None,None,None,1548.8,750865.21,484.804500,484.80
4,None,None,None,10042.2,5142274.46,512.066525,512.07
...,...,...,...,...,...,...,...
2074,None,None,None,10800.0,426847.43,39.522910,39.52
2075,None,None,None,39600.0,943710.92,23.831084,23.83
2076,None,None,None,30600.0,729231.20,23.831085,23.83
2077,None,None,600ML,22860.0,2268270.63,99.224437,99.22
2078,None,None,750ML,1656.0,153481.73,92.682204,92.68

Identify Anomalies in Duty Structure

Conditions:

Duty % < 0

Duty % > 100

Duty % > (Mean + 2 Std Dev)

In [32]:
# Fetch the entire enriched dataset into a pandas DataFrame
df_enriched = pd.read_sql("SELECT * FROM processed_trade_data_enriched", conn)

# Calculate mean and standard deviation of duty_pct using pandas
duty_pct_series = df_enriched['duty_pct'].dropna()

if not duty_pct_series.empty:
    avg_duty = duty_pct_series.mean()
    std_duty = duty_pct_series.std()
    # Define the upper bound for statistical outliers (mean + 2 * std_dev)
    outlier_threshold = avg_duty + 2 * std_duty
else:
    avg_duty = 0
    std_duty = 0
    outlier_threshold = float('inf') # No outliers if series is empty

# Apply anomaly flagging logic using pandas
df_flagged = df_enriched.copy()
df_flagged['anomaly_flag'] = 'NORMAL'

df_flagged.loc[df_flagged['duty_pct'] < 0, 'anomaly_flag'] = 'NEGATIVE DUTY ERROR'
df_flagged.loc[df_flagged['duty_pct'] > 100, 'anomaly_flag'] = 'UNREALISTIC (>100%)'
# Only flag as statistical outlier if not already flagged by other conditions
df_flagged.loc[
    (df_flagged['duty_pct'] > outlier_threshold) &
    (df_flagged['anomaly_flag'] == 'NORMAL'),
    'anomaly_flag'
] = 'STATISTICAL OUTLIER'

# Select and display only the anomalous transactions
anomalous_transactions = df_flagged[df_flagged['anomaly_flag'] != 'NORMAL'].sort_values(by='duty_pct', ascending=False)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print("Anomalous Duty Transactions (flagged by Pandas calculations):")
if not anomalous_transactions.empty:
    print(anomalous_transactions.to_markdown(index=False))
else:
    print("No anomalous duty transactions found.")

Anomalous Duty Transactions (flagged by Pandas calculations):
No anomalous duty transactions found.

In [ ]:
drop_view_query = "DROP VIEW IF EXISTS trade_model_economics;"
create_view_query = """CREATE VIEW trade_model_economics AS
SELECT
    DATE AS shipment_date,
    strftime('%Y', DATE) AS year,
    Model AS model,
    "Capacity/Spec" AS capacity,
    NULL AS supplier,
    QUANTITY AS quantity,
    "Standardized Unit" AS unit,
    "UNIT PRICE_INR" AS unit_price_inr,
    "UNIT PRICE_USD" AS parsed_price_usd,
    Grand_Total AS grand_total,
    ROUND(CAST(Grand_Total AS REAL) / NULLIF(CAST(QUANTITY AS REAL),0), 2) AS landed_cost_per_unit,
    duty_pct
FROM processed_trade_data_enriched;
"""

conn.execute(drop_view_query)
conn.execute(create_view_query)

# To display the content of the view, you would run a separate SELECT query:
# pd.read_sql("SELECT * FROM trade_model_economics LIMIT 5", conn)

In [33]:
all_queries_content = []

# Query from cell kivCRZIPi8Sc (Yearly Growth Analysis)
yearly_growth_query = """WITH yearly AS (
    SELECT
        strftime('%Y', DATE) AS year,
        SUM("TOTAL VALUE_INR") AS total_value,
        SUM("DUTY PAID_INR") AS total_duty,
        SUM("Grand Total") AS total_grand
    FROM trade_data
    GROUP BY strftime('%Y', DATE)
)
SELECT
    a.year,
    a.total_value,
    b.total_value AS prev_year_value,
    ROUND(((a.total_value - b.total_value) / b.total_value) * 100.0, 2) AS YoY_Total_Value_Growth,

    a.total_duty,
    b.total_duty AS prev_year_duty,
    ROUND(((a.total_duty - b.total_duty) / b.total_duty) * 100.0, 2) AS YoY_Duty_Growth,

    a.total_grand,
    b.total_grand AS prev_year_grand,
    ROUND(((a.total_grand - b.total_grand) / b.total_grand) * 100.0, 2) AS YoY_Grand_Total_Growth

FROM yearly a
LEFT JOIN yearly b
ON CAST(a.year AS INTEGER) = CAST(b.year AS INTEGER) + 1
ORDER BY a.year;
"""
all_queries_content.append("-- Yearly Growth Analysis Query\n" + yearly_growth_query)

# Query from cell dPM1L5NSi9AR (HSN Code Contribution)
hsn_contribution_query = """WITH ranked AS (
    SELECT
        "HS CODE" AS hsn_code,
        SUM("Grand Total") AS total_value,
        ROW_NUMBER() OVER (ORDER BY SUM("Grand Total") DESC) AS rn
    FROM trade_data
    GROUP BY "HS CODE"
),
bucketed AS (
    SELECT
        CASE WHEN rn <= 25 THEN hsn_code ELSE 'OTHERS' END AS category,
        total_value
    FROM ranked
)
SELECT
    category,
    SUM(total_value) AS total_value,
    ROUND(SUM(total_value) * 100.0 / (SELECT SUM("Grand Total") FROM trade_data), 2) AS contribution_percent
FROM bucketed
GROUP BY category
ORDER BY total_value DESC;
"""
all_queries_content.append("-- HSN Code Contribution Query\n" + hsn_contribution_query)

# Query from cell jwWHk1hHjsIp (Entity Activity)
entity_activity_query = """WITH activity AS (
    SELECT
        IEC AS entity_identifier,
        MIN(strftime('%Y', DATE)) AS first_year,
        MAX(strftime('%Y', DATE)) AS last_year
    FROM trade_data
    GROUP BY IEC
)
SELECT
    entity_identifier,
    first_year,
    last_year,
    CASE
        WHEN last_year = '2025' THEN 'ACTIVE'
        ELSE 'CHURNED'
    END AS entity_status
FROM activity
ORDER BY entity_status, entity_identifier;
"""
all_queries_content.append("-- Entity Activity Query\n" + entity_activity_query)

# Query from cell nkqWztbsl33a (Model-Year Summary)
model_year_summary_query = """SELECT
    Model AS model,
    strftime('%Y', DATE) AS year,
    SUM(QUANTITY) AS total_quantity,
    AVG("UNIT PRICE_INR") AS avg_unit_price_inr,
    AVG("UNIT PRICE_USD") AS avg_unit_price_usd
FROM processed_trade_data_enriched
GROUP BY Model, strftime('%Y', DATE)
ORDER BY model, year;
"""
all_queries_content.append("-- Model-Year Summary Query\n" + model_year_summary_query)

# Query from cell dJ_PZkgUmp68 (Model-Specific Price Analysis)
model_price_analysis_query = """SELECT
    Model AS model,
    AVG("UNIT PRICE_INR") AS avg_price_inr,
    MIN("UNIT PRICE_INR") AS min_price_inr,
    MAX("UNIT PRICE_INR") AS max_price_inr,
    SUM(QUANTITY) AS total_quantity,
    COUNT(*) AS shipment_count
FROM processed_trade_data_enriched
WHERE Model IS NOT NULL
GROUP BY Model
ORDER BY model, avg_price_inr ASC;
"""
all_queries_content.append("-- Model-Specific Price Analysis Query\n" + model_price_analysis_query)

# Query from cell koKumtifnC_w (Capacity Analysis)
capacity_analysis_query = """SELECT
    "Capacity/Spec" AS capacity,
    SUM(QUANTITY) AS total_quantity,
    SUM("TOTAL VALUE_INR") AS total_import_value,
    ROUND((SUM("TOTAL VALUE_INR") * 100) / (SELECT SUM("TOTAL VALUE_INR") FROM processed_trade_data_enriched), 2) AS percentage_contribution
FROM processed_trade_data_enriched
WHERE "Capacity/Spec" IS NOT NULL
GROUP BY "Capacity/Spec"
ORDER BY total_quantity DESC;
"""
all_queries_content.append("-- Capacity Analysis Query\n" + capacity_analysis_query)

# Query from cell XJOJGwU-neTj (Landed Cost Per Unit)
landed_cost_query = """SELECT
    Model AS model,
    NULL AS supplier,
    "Capacity/Spec" AS capacity,
    QUANTITY AS quantity,
    Grand_Total AS total_cost,
    CAST(Grand_Total AS REAL) / NULLIF(CAST(QUANTITY AS REAL),0) AS raw_landed_cost_per_unit,
    ROUND(CAST(Grand_Total AS REAL) / NULLIF(CAST(QUANTITY AS REAL),0),2) AS landed_cost_per_unit
FROM processed_trade_data_enriched;
"""
all_queries_content.append("-- Landed Cost Per Unit Query\n" + landed_cost_query)

# Query from cell GlBCCY_6pQmo (Trade Model Economics View)
trade_model_view_query = """DROP VIEW IF EXISTS trade_model_economics;
CREATE VIEW trade_model_economics AS
SELECT
    DATE AS shipment_date,
    strftime('%Y', DATE) AS year,
    Model AS model,
    "Capacity/Spec" AS capacity,
    NULL AS supplier,
    QUANTITY AS quantity,
    "Standardized Unit" AS unit,
    "UNIT PRICE_INR" AS unit_price_inr,
    "UNIT PRICE_USD" AS parsed_price_usd,
    Grand_Total AS grand_total,
    ROUND(CAST(Grand_Total AS REAL) / NULLIF(CAST(QUANTITY AS REAL),0), 2) AS landed_cost_per_unit,
    duty_pct
FROM processed_trade_data_enriched;
"""
all_queries_content.append("-- Trade Model Economics View Query\n" + trade_model_view_query)

# Write all queries to a single file
output_file_path = "/content/all_queries.sql"
with open(output_file_path, "w") as f:
    for query_block in all_queries_content:
        f.write(query_block)
        f.write("\n\n-- ==================================================\n\n") # Separator for readability

print(f"All SQL queries have been saved to: {output_file_path}")

All SQL queries have been saved to: /content/all_queries.sql